Pods/Mapbox-iOS-SDK/dynamic/Mapbox.framework.dSYM/Contents/Resources/DWARF/Mapbox
Pods/Mapbox-iOS-SDK/dynamic/Mapbox.framework/Mapbox
Pods/Mapbox-iOS-SDK/dynamic/Mapbox.framework/Assets.car
Pods/Realm/core/librealmcore-ios.a
Pods/Mapbox-iOS-SDK/dynamic/Mapbox.framework/Mapbox/.*
Pods/Mapbox-iOS-SDK/dynamic/.*
Pods/Mapbox-iOS-SDK/dynamic/**
Pods/Mapbox-iOS-SDK/dynamic/*
Pods/Mapbox-iOS-SDK/dynamic/*/**
Pods/Mapbox-iOS-SDK/dynamic/*/*
Pods/Mapbox-iOS-SDK/dynamic/**/**
Pods/Mapbox-iOS-SDK/dynamic/**/*